@model List<Rockstar.Models.Host>
@{
    ViewData["Title"] = "hosts";
    Layout = "_Admin";

}
<div class="right-box col-md-10">
    <div class="col-md-10 offset-1">
        <div class="top-text">
            All Hosts
        </div>

        <div class="row action-controls">
            <input class="col-md-3" id="Search" type="text" placeholder="Search" />
        </div>

        <div class="event-table col-md-12">
            <table class="table col-md-12 table-hover">
                <thead>
                    <tr class="col-md-12">
                        <th scope="col"><h4>Photo</h4> </th>
                        <th scope="col"><h4>Name</h4> </th>
                        <th scope="col"><h4>Description</h4></th>
                        <th scope="col"><h4>Options</h4></th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var e in Model)
                    {
                        <tr>
                            <th scope="row">
                                <img class="Search" src="@e.picture" alt="@e.first_name" />
                            </th>
                            <td>
                                <h5>@e.first_name @e.last_name</h5>
                            </td>
                            <td>
                                <div class="hostDescr">
                                    @e.description
                                </div>
                            </td>
                            <td>
                                <a asp-controller="Host" asp-action="DeleteHost" asp-route-id="@e.id">Remove</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        function Contains(text_one, text_two) {
            if (text_one.indexOf(text_two) != -1) {
                return true;
            }
        }

        $("#Search").keyup(function () {
            var searchText = $("#Search").val().toLowerCase();
            $(".Search").each(function () {
                if (!Contains($(this).text().toLowerCase(), searchText)) {
                    $(this).hide();
                } else {
                    $(this).show();
                }
            })
        });
    })
</script>