@model RockStar_IT_Events.ViewModels.IndividualEventModel
@using System.Web;
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Extensions;
@using RockStar_IT_Events
@inject IHttpContextAccessor ContextAccessor;

<div class="row bg-white">
    <div class="col-sm p-0">
        <img src="@Model.eEvent.thumbnail" class="main-img-thumbnail" style="object-fit: cover"/>
    </div>
    <div class="col-sm">
        <h1>@Model.eEvent.title</h1>
        <p>by @Model.Host.first_name @Model.Host.last_name</p>
        <a href="#" class="rockstar-btn d-inline-flex">
            <p class="align-self-center">Following</p>
            <img class="align-self-center" src="~/Images/Check.png" />
        </a>
        <p>@Model.eEvent.available_seats/@Model.eEvent.seats seats available</p>
        <p>@{
               for (int i = 0; i < Model.Categories.Count(); i++)
               {
                   <span>@Model.Categories[i].name</span>
                    @if (i + 1 < Model.Categories.Count())
                    {
                        <span> | </span>
                    }
               }
           }</p>
    </div>
    <div class="w-100"></div>
    <div class="col-sm border-top border-bottom sub-info-div d-inline-flex">
        @try
        {@if (await EventHelperClass.EventIsInTickets(Model.eEvent.id, ContextAccessor.HttpContext.Request.Cookies["BearerToken"]))
            {
                <a asp-controller="Event" asp-action="UnsubscribeForEvent" asp-route-id="@Model.eEvent.id" class="rockstar-btn d-inline-flex mr-auto mt-2 mt-sm-0">
                    <p class="align-self-center">Schrijf jezelf uit</p>
                    <img class="align-self-center" src="~/Images/Next.png" />
                </a>
            }
            else
            {
                <a asp-controller="Event" asp-action="SubscribeForEvent" asp-route-id="@Model.eEvent.id" class="rockstar-btn d-inline-flex mr-auto mt-2 mt-sm-0">
                    <p class="align-self-center">Schrijf jezelf in</p>
                    <img class="align-self-center" src="~/Images/Next.png" />
                </a>
            }

            }
            catch
            {

            }

        <div class="align-self-center text-right">
            <div class="float-right">
                <img src="~/Images/Share.png" class="icon mx-2" />
                @try
                {
                    @if (await EventHelperClass.EventIsFavorited(Model.eEvent.id, ContextAccessor.HttpContext.Request.Cookies["BearerToken"]))
                    {
                        <a asp-action="RemoveEventFromFavorites" asp-route-id="@Model.eEvent.id">
                            <img src="~/Images/Heart_Filled.png" class="icon mx-2" />
                        </a>
                    }
                    else
                    {
                        <a asp-action="AddEventToFavorites" asp-route-id="@Model.eEvent.id">
                            <img src="~/Images/Heart.png" class="icon mx-2" />
                        </a>
                    }
                }
                catch (Exception e)
                {

                }

            </div>
        </div>
    </div>
    <div class="w-100"></div>
    <div class="col-sm">
        <h1>About this Event</h1>
        <p>
            @Model.eEvent.description
        </p>
        <h1>About this Host</h1>
        <img src="@Model.Host.picture"/>
        <p>
            @Model.Host.first_name @Model.Host.last_name
        </p>
        <p>
            @Model.Host.description
        </p>
    </div>
    <div class="col-sm">
        <div>
            <h1>Date and Time</h1>
            <p>@Model.eEvent.begin_date - @Model.eEvent.end_date</p>
            <p>Share to:</p>
            <a href= "https://www.google.com/calendar/render?action=TEMPLATE&text=@Model.eEvent.title&dates=@Convert.ToDateTime(Model.eEvent.begin_date).ToString("o")/@Convert.ToDateTime(Model.eEvent.end_date).ToString("o")&details=@Model.eEvent.description&location=@Model.eEvent.postal_code&sf=true&output=xml" class="rockstar-btn d-inline-flex" target="_blank" title="Add to Google Calendar!">Google Calendar</a>
            <a href="https://linkedin.com/shareArticle?mini=true&url=@Context.Request.GetDisplayUrl()&title=@HttpUtility.UrlEncode(Model.eEvent.title)" class="rockstar-btn d-inline-flex" title="Share to LinkedIn!">LinkedIn</a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=@Context.Request.GetEncodedUrl()" class="rockstar-btn d-inline-flex" target="_blank" title="Share to Facebook!">Facebook</a>
            <a href="https://twitter.com/intent/tweet?hashtags=TeamRockstars&text=@HttpUtility.UrlEncode("I\'m going to this event!: ")&url=@Context.Request.GetEncodedUrl()" class="rockstar-btn d-inline-flex" target="_blank" title="Share to Twitter!">Twitter</a>            
        </div>
        <div>
            <h1>Location</h1>
            <p>@Model.eEvent.street, @Model.eEvent.hnum</p>
            <p>
                @Model.eEvent.city, The Netherlands
            </p>
            <a href="#" class="rockstar-btn d-inline-flex">
                <p>plan route</p>
                <img src="~/Images/Next.png" class="icon" />
            </a>
        </div>
    </div>
</div>