@model RockStar_IT_Events.ViewModels.IndividualEventModel
@using System.Web;
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Extensions;
@using RockStar_IT_Events
@inject IHttpContextAccessor ContextAccessor;
    

    <div class="bg-shadow">
        <div class="row bg-white border-bottom rounded-top overflow-hidden">
            <div class="col-sm-7 p-0">
                <img src="@Model.eEvent.thumbnail" class="main-img-thumbnail" style="object-fit: cover; object-position: 50% 50%" />
            </div>

            <div class="col-sm-5">
                <br />
                <h2 class="font-weight-bold">@Model.eEvent.title</h2>
                <p>by @Model.Host.first_name @Model.Host.last_name</p>
                @if (ContextAccessor.HttpContext.Request.Cookies["BearerToken"] != null)
                {
                    @if (await EventHelperClass.IsFollowingHost(Model.Host.id, ContextAccessor.HttpContext.Request.Cookies["BearerToken"]))
                    {
                        <a class="rockstar-btn d-inline-flex unfollow-host">
                            <p class="align-self-center font-weight-bold">Following</p>
                        </a>
                    }
                    else
                    {

                        <a class="rockstar-btn d-inline-flex follow-host">
                            <p class="align-self-center font-weight-bold">Click to follow!</p>
                        </a>
                    }
                }
                <p>@Model.eEvent.available_seats/@Model.eEvent.seats seats available</p>
                <p class="p-0">
                    @{
                        for (int i = 0; i < Model.Categories.Count; i++)
                        {
                            <span>@Model.Categories[i].name</span>
                            @if (i + 1 < Model.Categories.Count)
                            {
                                <span> | </span>
                            }
                        }
                    }
                </p>

                <div class="row p-3">
                    <div>
                        @if (ContextAccessor.HttpContext.Request.Cookies["BearerToken"] != null)
                        {
                            @if (await EventHelperClass.EventIsInTickets(Model.eEvent.id, ContextAccessor.HttpContext.Request.Cookies["BearerToken"]))
                            {
                                <div class="sign-up-button rockstar-btn d-inline-flex">
                                    <a asp-controller="Event" asp-action="UnsubscribeForEvent" asp-route-id="@Model.eEvent.id" class="align-self-center font-weight-bold text-reset">Sign out</a>
                                    <img class="align-self-center" src="~/Images/Next.png" />
                                </div>
                            }
                            else
                            {
                                <div class="sign-out-button rockstar-btn d-inline-flex">
                                    <p class="align-self-center font-weight-bold">Sign up</p>
                                    <img class="align-self-center" src="~/Images/Next.png" />
                                </div>
                            }
                        }
                    </div>
                    <div class="align-self-center ml-auto">
                        <div class="float-right">
                            @if (ContextAccessor.HttpContext.Request.Cookies["BearerToken"] != null)
                            {
                                @if (await EventHelperClass.EventIsFavorited(Model.eEvent.id, ContextAccessor.HttpContext.Request.Cookies["BearerToken"]))
                                {
                                    <i class="fa fa-heart fa-2x text-danger unlike p-2"></i>
                                }
                                else
                                {
                                    <i class="fa fa-heart-o fa-2x text-danger like p-2"></i>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row bg-white infoBox rounded-bottom overflow-hidden">
            <div class="col-sm-9 host">
                <h2>About this Event</h2>
                <p>
                    @Model.eEvent.description
                </p>
                <h2>About this Host</h2>
                <div class="imgWrapper">
                    <img src="@Model.Host.picture" />
                </div>
                <h4>
                    @Model.Host.first_name @Model.Host.last_name
                </h4>
                <p>
                    @Model.Host.description
                </p>
            </div>
            <div class="col-sm-3 infoWrapper">
                <div>
                    <div class="dateTime">
                        <h2>Date and Time</h2>
                        <p>From: @Model.eEvent.begin_date</p>
                        <p>Till: @Model.eEvent.end_date</p>
                        <a href="https://www.google.com/calendar/render?action=TEMPLATE&text=@Model.eEvent.title&dates=@Convert.ToDateTime(Model.eEvent.begin_date).ToString("o")/@Convert.ToDateTime(Model.eEvent.end_date).ToString("o")&details=@Model.eEvent.description&location=@Model.eEvent.postal_code&sf=true&output=xml"
                           class="rockstar-btn d-inline-flex" target="_blank" title="Add to Google Calendar!">Add to Google Calendar</a>
                    </div>
                    <div class="shareBtn">
                        <h2>Share to:</h2>
                        <a href="https://linkedin.com/shareArticle?mini=true&url=@Context.Request.GetDisplayUrl()&title=@HttpUtility.UrlEncode(Model.eEvent.title)"
                           class="rockstar-btn d-inline-flex" title="Share to LinkedIn!">LinkedIn</a>
                        <a href="https://www.facebook.com/sharer/sharer.php?u=@Context.Request.GetEncodedUrl()"
                           class="rockstar-btn d-inline-flex" target="_blank" title="Share to Facebook!">Facebook</a>
                        <a href="https://twitter.com/intent/tweet?hashtags=TeamRockstars&text=@HttpUtility.UrlEncode("I\'m going to this event!: ")&url=@Context.Request.GetEncodedUrl()"
                           class="rockstar-btn d-inline-flex" target="_blank" title="Share to Twitter!">Twitter</a>
                    </div>
                </div>
                <div class="locationBox">
                    <h2>Location</h2>
                    <p>@Model.eEvent.street, @Model.eEvent.hnum</p>
                    <p>
                        @Model.eEvent.city, The Netherlands
                    </p>
                    <a href="https://www.google.com/maps/dir/Current+Location/@HttpUtility.UrlEncode( Model.eEvent.street + ' ' + Model.eEvent.hnum + ' ' + Model.eEvent.city)" class="rockstar-btn d-inline-flex" target="_blank">
                        <p>plan route</p>
                        <img src="~/Images/Next.png" class="icon" />
                    </a>
                </div>
            </div>
        </div>
    </div>

    <script>
    $("div.sign-out-button").on('click',
        function () {
            $.post("/Event/SubscribeForEvent",
                {
                    id: "@Model.eEvent.id"
                });
            $("div.sign-out-button p").text('Sign out');
            $("div.sign-out-button").toggleClass("sign-out-button").toggleClass("sign-up-button");
        });

    $("i.like").on('click', function () {
        $.post("/Event/AddEventToFavorites",
            {
                id: "@Model.eEvent.id"
            });
        $(this).toggleClass("fa-heart").toggleClass("fa-heart-o");
        $("i.like").toggleClass("like").toggleClass("unlike");

    });

    $("i.unlike").on('click', function () {
        $.post("/Event/RemoveEventFromFavorites",
            {
                id: "@Model.eEvent.id"
            });
        $(this).toggleClass("fa-heart-o").toggleClass("fa-heart");
        $("i.unlike").toggleClass("unlike").toggleClass("like");
    });

    $("a.follow-host").on('click',
        function() {
            $.post("/Event/FollowHost",
                {
                    id: "@Model.Host.id",
                    eventId : "@Model.eEvent.id"
                });
            $("a.follow-host p").text('Following');
            $(this).addClass('unfollow-host');
            $(this).removeClass('follow-host');
            console.log("follow");
        });

    $("a.unfollow-host").on('click',
        function() {
            $.post("/Event/RemoveFollowingHost",
                {
                    id: "@Model.Host.id",
                    eventId : "@Model.eEvent.id"
                });
            $("a.unfollow-host p").text('Click to follow');
            $(this).addClass('follow-host');
            $(this).removeClass('unfollow-host');
            console.log("unfollow");
        });
    </script>