@model IEnumerable<Rockstar.Models.Event>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "FavoriteEvents";
}

<h1>FavoriteEvents</h1>



<div class="event-table col-md-12">
    <table class="table col-md-12 table-hover">
        <thead>
            <tr class="col-md-12">
                <th scope="col">Event</th>
                <th scope="col">Date</th>
                <th scope="col">Location</th>
                <th scope="col">Options</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var e in Model)
            {
                <tr>
                    <th scope="row">
                        <div class="row">
                            <img class="Search" src="@e.thumbnail" alt="@e.title" />
                            <div class="col Search">
                                <h5>@e.title</h5>
                                <p>by lorem</p>
                            </div>
                        </div>
                    </th>
                    <td class="Search">@e.begin_date</td>
                    <td class="Search">@e.postal_code</td>
                    <td>
                        <div class="col-md-2">
                            <a class="readMore" asp-controller="Event" asp-action="Event" asp-route-id="@e.id">Read More</a>
                            <a class="removeBtn" onclick="RemoveFromFavorites('@e.id')">Remove</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    function RemoveFromFavorites(eId) {
        $.post("/Event/RemoveEventFromFavorites",
            {
                id: eId
            });
        $("." + eId).remove();
        window.location.reload(false); 
    }
</script>
