@model List<Rockstar.Models.Category>
@{
    ViewData["Title"] = "Categories";
    Layout = "_Admin";
}
<h1>All categories</h1>

<div class="event-table col-md-12">

    <table class="table col-md-12 table-hover">
        <thead>
            <tr class="col-md-12">
                <th scope="col"><h4>Photo</h4> </th>
                <th scope="col"><h4>Name</h4> </th>
                <th scope="col"><h4>Description</h4></th>
                <th scope="col"><h4>Options</h4></th>

            </tr>
        </thead>
        <tbody>
            @foreach (var e in Model)
            {
                <tr>
                    <th scope="row">
                        <img class="Search" src="@e.thumbnail" alt="@e.name" />
                    </th>
                    <td>
                        <h5>@e.name</h5>
                    </td>
                    <td>
                        <div class="hostDescr">
                            @e.description
                        </div>
                    </td>
                    <td>
                        <a asp-controller="Category" asp-action="Delete" asp-route-id="@e.id">Remove</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>