@model IEnumerable<Rockstar.Models.Event>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_admin";
}

<div class="right-box col-md-10">
    <div class="col-md-10 offset-1">
        <div class="top-text">
            Lots of great things are gonna happen
        </div>
        <div class="row action-controls">
                <input class="col-md-3" id="Search" type="text" placeholder="Search"/>
                <p class="col-md-3">Actions</p>
        </div>
        <div class="event-table col-md-12">
            <table class="table col-md-12 table-hover">
                <thead>
                    <tr class="col-md-12">
                        <th scope="col">Event</th>
                        <th scope="col">Tickets sold</th>
                        <th scope="col">Date</th>
                        <th scope="col">Location</th>
                        <th scope="col"> </th>
                        <th scope="col"> </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var e in Model)
                    {
                    <tr>
                        <th scope="row">
                            <div class="row">
                                <img class="Search" src="@e.thumbnail" alt="@e.title" />
                                <div class="col Search">
                                    <h5>@e.title</h5>
                                    <p>by lorem</p>
                                </div>
                            </div>
                        </th>
                        <td class="Search">
                            @e.seats
                        </td>
                        <td class="Search">@e.begin_date</td>
                        <td class="Search">@e.postal_code</td>
                        <td><a asp-controller="Admin" asp-action="EditEvent" asp-route-id="@e.id">Update</a></td>
                        <td><a asp-controller="Admin" asp-action="DeleteEvent" asp-route-id="@e.id">Remove</a></td>

                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        function Contains(text_one, text_two) {
            if (text_one.indexOf(text_two) != -1) {
                return true;
            }
        }

        $("#Search").keyup(function() {
            var searchText = $("#Search").val().toLowerCase();
            $(".Search").each(function() {
                if (!Contains($(this).text().toLowerCase(), searchText)) {
                    $(this).hide();
                } else {
                    $(this).show();
                }
            })
        });
    })
</script>