@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model List<Rockstar.Models.Host>

@{
    ViewData["Title"] = "MyHosts";
}

<h1>MyHosts</h1>

<div class="event-table col-md-12">

    <table class="table col-md-12 table-hover">
        <thead>
            <tr class="col-md-12">
                <th scope="col"><h4>Photo</h4> </th>
                <th scope="col"><h4>Name</h4> </th>
                <th scope="col"><h4>Description</h4></th>
                <th scope="col"><h4>Options</h4></th>

            </tr>
        </thead>
        <tbody>
            @foreach (var e in Model)
            {
                <tr>
                    <th scope="row">
                            <img class="Search" src="@e.picture" alt="@e.first_name" />
                    </th>
                    <td>
                            <h5>@e.first_name @e.last_name</h5>
                    </td>
                    <td>
                        <div class="hostDescr">
                            @e.description
                        </div>
                    </td>
                    <td>
                            <a asp-controller="Event" asp-action="RemoveFollowingHost" asp-route-id="@e.id" class="pb-3">Unfollow</a>
                            <a asp-controller="Host" asp-action="Details" asp-route-id="@e.id">Read More</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
 </div>

